.customer {
    display: flex;
    position: relative;
    height: calc(100vh - 170px);
}

.customer .customer__left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer .customer__left .customer__info {
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: var(--border-radius);
    background-color: var(--item-color);
}

.customer__info .customer__title {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer__info .customer__title .logo__shop {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    background-color: var(--main-color);
    color: var(--text-in-background-color);
    margin: 0 10px;
}

.customer__info__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.customer__info__left {
    flex: 1;
    padding: 0 10px;
}

.customer__info__left .customer__input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.customer__info__left .customer__submit__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer__info__left .customer__submit__button button {
    padding: 5px;
    color: var(--main-color);
    background-color: var(--item-color);
    outline: none;
    border-radius: var(--border-radius);
    border: 2px solid var(--main-color);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s;
}

.customer__info__left .customer__submit__button button:hover {
    background-color: var(--main-color);
    color: var(--item-color);
}

.customer__info__left .customer__input span {
    font-weight: 700;
    font-size: 14px;
    width: 100px;
    padding: 5px 10px;
    background-color: var(--item-color);
    border: 2px solid var(--main-color);
    border-radius: var(--border-radius);
    text-align: center;
    color: var(--main-color);
}

.customer__info__left .customer__input input {
    text-align: center;
    flex: 1;
    background: transparent;
    font-weight: 700;
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    outline: none;
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

.customer__info__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.customer__info__right .customer__avatar {
    background-color: var(--item-color);
    border-radius: var(--border-radius);
    border: 3px solid var(--main-color);
    padding: 50px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.customer__info__right .customer__avatar .icon__customer__avatar {
    font-size: 120px;
    color: var(--main-color);
}

.customer__phone input {
    width: 100%;
    text-align: center;
    background: transparent;
    font-weight: 700;
    padding: 5px 10px;
    border: none;
    outline: none;
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

.customer .customer__right {
    margin-left: 20px;
    width: 400px;
    display: flex;
}

.customer__right .payment {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.customer__right .payment .payment__body .payment__book__detail .payment__booklist {
    max-height: calc(100vh - 440px);
    overflow: auto;
}

.customer__right .payment .payment__body .payment__book__detail .payment__booklist::-webkit-scrollbar {
    width: 10px;
}

.customer__right .payment .payment__body .payment__book__detail .payment__booklist::-webkit-scrollbar-thumb {
    background-color: var(--main-scroll-color);
    border-radius: var(--border-radius);
}

@media screen and (max-width: 1000px) {
    .customer {
        flex-direction: column;
    }

    .customer .customer__left {
        margin-bottom: 20px;
    }

    .customer .customer__right {
        margin: 0;
        padding: 20px 0;
        width: 100%;
    }

    .customer__info__wrapper {
        flex-direction: column;
    }

    .customer__info__left {
        margin-bottom: 20px;
    }
}