.formdashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 20px;
}

.formdashboard .formdashboard__header__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.formdashboard .formdashboard__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.formdashboard .formdashboard__header .formdashboard__title {
    font-size: 24px;
    font-weight: 300;
}

.formdashboard .formdashboard__header .formdashboard__title p {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}


.formdashboard .formdashboard__header .formdashboard__title h1 {
    font-size: 32px;
    color: var(--main-color);
}

.formdashboard__header .formdashboard__title .formdashboard__description {
    font-size: 34px;
    text-transform: uppercase;
    background: linear-gradient(to bottom right, #392c86, #4f4f4f);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* .formdashboard .formdashboard__header .formdashboard__logo {
    position: relative;
    width: 50px;
    height: 50px;
    background: linear-gradient(to bottom right, #664AFF, #9c9c9c);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 111;
}

.formdashboard .formdashboard__header .formdashboard__logo i {
    font-size: 24px;
    color: #fff;
} */

.formdashboard .formdashboard__header .formdashboard__navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    background: var(--main-color);
    border-radius: var(--border-radius);
    z-index: 100;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.formdashboard__header .formdashboard__navbar .formdashboard__item {
    width: 20px;
    margin: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 10px;
}

.formdashboard__header .formdashboard__navbar .formdashboard__item a {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    padding: 2px;
    border-radius: var(--border-radius);
    color: #fff;
    cursor: pointer;
    transition: all 0.4s;
}

.formdashboard__header .formdashboard__navbar .formdashboard__item a:hover {
    color: #000000;
    transform: scale(1.1);
}


.formdashboard__header .formdashboard__navbar .formdashboard__item:first-child {
    display: none;
}

@media (max-width: 900px) {
    .formdashboard .formdashboard__header .formdashboard__navbar {
        width: 45px;
        transition: all 0.4s;
    }

    /* .formdashboard__header .formdashboard__navbar .formdashboard__item {
        opacity: 0;
        transition: all 0.4s;
    } */

    .formdashboard__header .formdashboard__navbar .formdashboard__item:first-child {
        display: flex;
    }

    .formdashboard .formdashboard__header .formdashboard__navbar:hover {
        width: 200px;
    }

    .formdashboard .formdashboard__header .formdashboard__navbar:hover .formdashboard__item:first-child {
        display: none;
    }

    .formdashboard .formdashboard__header .formdashboard__navbar:hover .formdashboard__item {
        opacity: 1;
    }
}

.formdashboard__navbar .formdashboard__item .formdashboard__item-text {
    width: 0;
    height: 0;
    margin: 0 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s;
}

.formdashboard__header .formdashboard__navbar .formdashboard__item a i {
    transition: all 0.4s;
}

.formdashboard__header .formdashboard__navbar .formdashboard__item a:hover i {
    color: #000000;
}

/* .formdashboard__header .formdashboard__navbar .formdashboard__item a:hover .formdashboard__item-text {
    width: 50px;
} */

.formdashboard .formdashboard__display {
    width: 100%;
    margin-top: 30px;
}