@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Varela Round";
}

#root {
    position: relative;
}

:root {
    --border-radius: 10px;
    --main-color: #80002a;
    --main-scroll-color: #3b3b3b93;
    --background-color: #fff;
    --item-color: #f2f2f2;
    --text-color: #000;
    --text-in-background-color: #fff;
}


:root {
    --border-radius: 10px;
    --main-color: #fff;
    --main-scroll-color: #88878793;
    --background-color: #000;
    --item-color: #121212;
    --text-color: #fff;
    --text-in-background-color: #000;
}

a {
    text-decoration: none;
    color: inherit;
}

.virtual-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.page__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--item-color);
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
}

.page__header .page__title {
    font-size: 18px;
    font-weight: 300;
}

.page__title h1 {
    color: var(--main-color);
    text-transform: uppercase;
    margin-top: 5px;
}

.page__title p {
    font-weight: 700;
    color: var(--text-color);
}

.page__user {
    display: flex;
    align-items: center;
}

.page__user button {
    background-color: var(--main-color);
    padding: 10px;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.page__user button .icon__user {
    font-size: 20px;
    color: var(--text-in-background-color);
}