.home {}

.home .home__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.home .home__header .home__title p {
    font-size: 1.2rem;
    font-weight: 500;
}

.home .home__header .home__title h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #66A;
}

.home .home__header .home__feature {
    display: flex;
    align-items: center;
}

.home__header .home__feature .home__search {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px;
    border: 3px solid #000;
    overflow: hidden;
}

.home__header .home__feature .home__search input {
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: transparent;
    transition: all 0.4s;
    width: 0;
    opacity: 0;
}

.home__header .home__feature .home__search:hover input {
    width: 300px;
    opacity: 1;
}

.home__header .home__feature .home__search i {
    font-size: 1.2rem;
    margin: 0 5px;
}

.home .home__header .home__profile {
    margin-left: 20px;
    color: #fff;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #66A;
    display: flex;
    justify-content: center;
    align-items: center;
}