/* .regulation-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;

}

.regulation {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    padding: 20px;
}


.regulation .regulation__item {
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    margin: 10px 0;
}

.regulation .regulation__title {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}

.regulation .regulation__item .regulation__config {
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
}

.regulation .regulation__item .regulation__config+.regulation__config {
    margin-top: 10px;
    border-top: 2px dashed rgba(0, 0, 0, 0.6);
}

.regulation__item .regulation__config .regulation__header-config {
    font-size: 25px;
    display: inline-block;
}

.regulation__item .regulation__config .regulation__feature-config {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.regulation__config .regulation__feature-config .regulation__feature-title {
    flex: 1;
}

.regulation__config .regulation__feature-config .regulation__feature-value {
    margin-left: 10px;
} */


/*--------------------SETTING------------------*/
/* :root {
    --width-label: 100px;
    --height-label: 30px;
    --distance-btn-label: 3px;
}

.regulation__item .regulation__config .regulation__buttonchange {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.regulation__config .regulation__buttonchange .regulation__buttonchange-choice {
    margin: 0 10px;
    font-size: 22px;
}

.regulation__config .regulation__buttonchange input[type="checkbox"] {
    display: none;
}

.regulation__config .regulation__buttonchange label {
    cursor: pointer;
    position: relative;
    width: var(--width-label);
    height: var(--height-label);
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    display: block;
    box-shadow: inset 0 5px 15px #00000095, inset 0 -5px 15px #9e999995;
    transition: all 0.6s;
}

.regulation__config .regulation__buttonchange label .labelPoint {
    background-image: url(/pic/ico/Yes.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: calc(var(--height-label) - 2 * var(--distance-btn-label));
    width: calc(var(--height-label) - 2 * var(--distance-btn-label));
    border-radius: 180px;
    bottom: var(--distance-btn-label);
    top: var(--distance-btn-label);
    left: var(--distance-btn-label);
    transition: all 0.6s;
}

.regulation__config .regulation__buttonchange label:active .labelPoint {
    width: calc(var(--height-label) - 2 * var(--distance-btn-label) + 10px);
}

#checkFeature:checked+label .labelPoint {
    left: calc(var(--width-label) - var(--distance-btn-label));
    transform: translateX(-100%);
    background-image: url(/pic/ico/No.png);
} */

.setting-container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 20px;
}

.setting-container .setting {
    width: 100%;
}

.setting-container .setting .setting__header {
    font-size: 18px;
    font-weight: 300;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.setting-container .setting .setting__header h1 {
    color: var(--main-color);
    text-transform: uppercase;
}

.setting-container .setting .setting__body {
    width: 100%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    margin: 20px 0;
    border-radius: 10px;
    padding: 20px;
}

.setting .setting__body .setting__item {
    margin: 10px 0;
}

.setting .setting__body .setting__item+.setting__item {
    border-top: 2px dashed rgba(0, 0, 0, 0.6);
    padding-top: 20px;
}

.setting .setting__body .setting__item .setting__item-header {
    font-size: 20px;
    font-weight: 700;
    color: var(--main-color);
    text-transform: uppercase;
}

.setting .setting__body .setting__item .setting__item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
}


.setting__item .setting__item-content .setting__item-content-title {
    margin-right: 10px;
}

.setting__item .setting__item-content .setting__item-content-value {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting__item .setting__item-content .setting__item-content-value .value {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: var(--main-color);
    color: #fff;
    border-radius: var(--border-radius);
}

.setting__item .setting__item-content .setting__item-content-value button {
    padding: 0 10px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.3s;
    margin-left: 10px;
}