.slider {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;

}


.slider .slider__title .slider__title-text {
    font-size: 3rem;
    color: #fff;
    opacity: 0.6;
}

.slider .slider__description .slider__description-text {
    font-size: 1.5rem;
    color: #fff;
    opacity: 0.6;
}

.arrow {
    position: absolute;
    font-size: 3.5rem;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
    opacity: 0.6;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.arrow:hover {
    opacity: 1;
    font-size: 3.7rem;
}

.arrow--left {
    left: 20px;
}

.arrow--right {
    right: 20px;
}