.management {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--item-color);
    padding: 20px;
    z-index: 10;
    display: flex;
}

.management .management__left {
    width: 20%;
    height: 100%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.management__role {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.management__role .management__card {
    padding: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    z-index: 0;
    overflow: hidden;
    color: var(--text-color);
    background: var(--item-color);
}

.management__role .management__card .management__card-icon {
    width: 35px;
    height: 35px;
    background-color: var(--main-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: var(--text-in-background-color);
    position: relative;
}

.management__role .management__card .management__card-icon::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 50%;
    z-index: -1;
    transition: all 0.4s;
}

.management__role .management__card:hover {
    color: var(--text-in-background-color);
}

.management__role .management__card:hover .management__card-icon::before {
    width: 450px;
    height: 450px;
}


.management__role .management__card .management__card-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    width: 120px;
}

.management .management__right {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    position: relative;
}

.management__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}

.management__list .management__card {
    width: 370px;
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    margin: 5px 10px;
}

.management__list .management__card .management__card__avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid var(--main-color);
    padding: 10px;
}

.management__list .management__card .management__card__avatar .icon__card {
    font-size: 40px;
    color: var(--main-color);
}

.management__list .management__card .management__card__body {
    margin-left: 20px;
}

.management__list .management__card .management__card__body .management__card__title {
    font-size: 12px;
    font-weight: 700;
    color: var(--main-color);
}

.management__list .management__card .management__card__body .management__card__content {
    font-size: 12px;
    font-weight: 700;
    color: var(--text-color);
    margin-top: 5px;
}

.management__list .management__card .management__card__body .management__card__content span {
    margin-left: 5px;
}